[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "*"
flask = "*"
flask-restful = "*"
flask-cors = "*"
pillow = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
